//fonts
$font-first: "Arial";

//colors
$color-white-global: #fff;
$color-first: #333;
$color-second: #808080;
$color-third: #fffbc8;
$color-fourth: #b1e19b;
$color-five: #ace2f8;
$color-border: #dadada;
$color-comment-bg: #f2fbff;
$color-button: #fdd639;
